<div id="messageButton">
	<%= link_to "Reply", send_new_message_path(@message.sender), :class=>'messageButton'%>
</div>
<div class="clear"></div>
<p>
  <b>From:</b>
  <%= @message.sender.username %>
</p>

<p>
  <b>Subject:</b>
  <%= @message.subject %>
</p>

<p class="serif">
  <%= @message.body %>
</p>
