<p id="notice"><%= notice %></p>
<div id="indexCard">
<div id="indexCardTop">
  <%= sanitize @plotpoint.summary, :tags => ''%>
</div>
<div id="indexCardBottom">
  <%= simple_format(sanitize(@plotpoint.details, :tags => '')) %>
</div>
</div>
<%= link_to 'Edit', edit_plotpoint_path(@plotpoint) %>
