<% if can? :update, @plotpoint then  %>
<%= link_to 'Edit', edit_plotpoint_path(@plotpoint) %>
<% end %>
<div id="indexCard">
<div id="indexCardTop">
  <%= sanitize @plotpoint.summary, :tags => ''%>
</div>
<div id="indexCardBottom">
  <%= simple_format(sanitize(@plotpoint.details, :tags => '')) %>
</div>
</div>
