@mixin rounded-corners($radius) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin box-shadow($horizontal, $vertical, $blur, $color) {
	box-shadow: $horizontal $vertical $blur $color;
	-moz-box-shadow: $horizontal $vertical $blur $color;
	-webkit-box-shadow: $horizontal $vertical $blur $color;
}

@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:300|Open+Sans:400,600,700&subset=latin&v2);
@import "plotpoints.scss";
@import "stories.scss";
@import "profiles.scss";
@import "home.scss";
@import "setting.scss";
@import "character.scss";

body{
	background-color:	#EAF7FB;
	font-size:			15px;
	font-family:		'Open Sans', sans-serif;
}

input, textarea {
	border:				none;
	font-family: 		'Josephin Slab', serif;
	background-color:	#eee;
}

table{
	border-collapse:	collapse;
	margin:0;
	padding:0;
	width:				100%;
	overflow:			hidden;
}
.field_with_errors{
	border:				3px solid #ffa8a8;
	margin:				0;
	padding:			0;
	display:			inline;
}
.maxwidth{
	width:	100%;
}
.width85{
	width:	85%;
}
#devisePage{
	width:				80%;
	margin:				0;
	padding:			0;
	margin-left:		auto;
	margin-right:		auto;
}
#page{
	margin:				0;
	padding:			0;
	width:				80%;
	margin-left:		auto;
	margin-right:		auto;
}

#desk{
	background-color:	#fff;
	@include box-shadow(0, 0, 10px, #999);
	overflow:			auto;
	margin-top:			1em;
	padding:			5px;
	padding-bottom:		5%;
}

#legal{
	width:				20em;
	text-align:			center;
	margin-right:		auto;
	margin-left:		auto;
	margin-top:			1em;
	font-size:			.75em;
	color:				#555;
}

.userControlLink{
	background-color:	#fff;
	float:				right;
	margin:				0;
	padding:			0;
	margin-top:			-7px;
	margin-right:		10px;
	padding-left:		5px;
	padding-right:		5px;
	font-weight:		700;
	@include box-shadow(0,0,10px, #999);
	color:				#000;
	text-decoration:	none;
}

.logo{
	display:			block;
	background-color:	#000;
	height:				100px;
	width:				300px;
	float:				left;
}

.clear{
	clear:				both;
}

#breadcrumbs{
	background-color:	#fff;
	@include box-shadow(0,0,10px, #999);
	margin-top:			1em;
	padding-left:		5px;
}

.breadcrumb{
	color:				#000;
	&:hover{
		color:			#999;
	}
}
