@mixin rounded-corners($radius) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin box-shadow($horizontal, $vertical, $blur, $color) {
	box-shadow: $horizontal $vertical $blur $color;
	-moz-box-shadow: $horizontal $vertical $blur $color;
	-webkit-box-shadow: $horizontal $vertical $blur $color;
}

@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:300|Open+Sans:400,600,700&subset=latin&v2);
@import "plotpoints.scss";
@import "stories.scss";
@import "profiles.scss";
@import "home.scss";
@import "setting.scss";
@import "character.scss";

body{
	background-color:	#EAF7FB;
	font-size:			15px;
	font-family:		'Open Sans', sans-serif;
}

textarea{
	width:				100%;
	border:				none;
}

input[type=text] {
		width:			100%;
		border:			none;
}

#desk{
	background-image:	url('../images/desk.jpg');
	@include rounded-corners(10px);
	@include box-shadow(0, 0, 10px, #999);
	border-color:		#fff;
	border-style:		solid;
	border-width:		3px;
	width:				80%;
	margin-left:		auto;
	margin-right:		auto;
	overflow:			auto;
}

#legal{
	width:				20em;
	text-align:			center;
	margin-right:		auto;
	margin-left:		auto;
	margin-top:			1em;
	font-size:			.75em;
	color:				#555;
}

.userControlLink{
	background-color:	#D73E68;
	float:				right;
	margin:				0;
	padding:			0;
	margin-right:		10px;
	font-weight:		700;
	color:				white;
}

.logo{
	display:			block;
	background-color:	#000;
	height:				100px;
	width:				300px;
	float:				left;
}

.clear{
	clear:				both;
}
#breadcrumbs{
	background-color:	#C98A4B;
}
.breadcrumb{
	color:				#000;
	&:hover{
		color:			#fff;
	}
}
