.username{
	width:			200px;
}
.subject, .username, .delete{
	a {
		text-decoration:	none;
		color:				#000;
		&:hover{
			color:			blue;
		}
	}
}
.date {
	width:			1%;
	padding-left:	1px;
	padding-right:	1px;
	white-space:	nowrap;
}
.delete {
	width:			1%;
	padding-left:	1px;
	padding-right:	2px;
}
.unread{
	background-color: 	#addee8
}
#messages{
	tr {
		border-bottom: 1px solid #000;
	}
}
