.settingIndexCardTop, .settingIndexCardTopShadow, .lastSettingIndexCard{
	display:			block;
	padding:		5px;
	border-left:		2px solid #91A8AE;
	border-right:		2px solid #91A8AE;
}
.settingIndexCardTop{
	border-top:		2px solid #91A8AE;
}
.test{
	display:			block;
	width:				100%;
	border-bottom:		1px solid #91A8AE;
	overflow:			hidden;
}
.settingIndexCardBottom{
	padding-bottom:		5px;
	padding-right:		5px;
	padding-left:		5px;
	height:				5em;
	overflow:			hidden;
	font-family:		'Josephin Slab', serif;
	p{
		margin:			0;
		padding:		0;
	}
	border-left:		2px solid #91A8AE;
	border-right:		2px solid #91A8AE;
	font-family: 		'Josephin Slab', serif;
}
.settingIndexCardLinks{
	height:				1em;
	text-align:			right;
	padding-bottom:		4px;
	border-left:		2px solid #91A8AE;
	border-right:		2px solid #91A8AE;
	border-bottom:		2px solid #91A8AE;
}
#settingIndexCards{
	float:				left;
	padding:			0;
	margin:				0;
	margin-left:		2.5%;
	list-style:			none;
	width:				32.5%;
}
#settingSummary{
	width:				61.5%;
	float:				left;
	background-color:	#fff;
	padding:			0;
	margin:				0;
	margin-right:		2.5%;
	font-family: 		'Josephin Slab', serif;
}
#settingIndexCardsWrap{
	margin-bottom:		5%;
}
.settingIndexCardTopShadow, .lastSettingIndexCard{
	@include box-shadow(0px, -1px, 0px, #888);
	border-top:			1px solid #555;
}
