#storyTitle{
	font-size:			2.5em;
	text-align:			center;
}
#notebookHolder{
	text-align:			center;
}
#notebooks{
	overflow:			auto;
	margin:				0;
	padding:			0;
	margin-left:		auto;
	margin-right:		auto;
	text-align:			center;
	list-style:			none;
	li{
		margin:			0;
		padding:		0;
	}
}
