#characterPhoto {
  height: 200px;
  width: 200px; }

#characterName {
  font-size: 2em; }

.bold {
  font-weight: bold; }

.list {
  width: 33%;
  float: left; }

.characterbio {
  font-family: 'Josephin Slab', serif; }

#virtueListForm, #viceListForm, #habitListForm {
  list-style: none;
  padding: 0;
  margin: 0; }
