#authorStories {
  overflow: auto; }

#authorPublic, #authorPrivate {
  width: 37.5%;
  float: left; }

#authorPublic {
  margin-left: 10%;
  margin-right: 2.5%; }

#authorPrivate {
  margin-left: 2.5%;
  margin-right: 10%; }

#allPublic {
  margin-left: 10%;
  margin-right: 10%; }

.storyList {
  width: 100%; }

.storyListLine {
  border-top: 1px solid #000; }

.storyTitle {
  width: 67%;
  overflow: hidden;
  text-align: left; }

.storyAuthor {
  width: auto;
  text-align: right; }

.storyStat {
  width: auto;
  text-align: right; }
