#plotpoints {
  width: 90%;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  list-style: none; }

#indexCard {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  background-color: #ffffff;
  padding: 5px; }

#indexCardTop {
  border-bottom: 2px solid red; }

#indexCardBottom {
  min-height: 11em; }

.smallIndexCard, .plotpoint {
  width: 14em;
  height: 10em;
  padding: 5px;
  margin: 5px;
  background-color: #ffffff;
  float: left; }

.smallIndexCardTop {
  border-bottom: 2px solid red;
  height: 1em;
  overflow: hidden;
  cursor: move; }

.smallIndexCardBottom {
  height: 8em;
  overflow: hidden; }
  .smallIndexCardBottom p {
    margin: 0;
    padding: 0;
    margin: 0; }

.smallIndexCardLinks {
  height: 1em;
  text-align: right; }

#storyTitle {
  width: 50%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5em; }

#notebookHolder {
  text-align: center; }

#notebooks {
  display: inline-block;
  overflow: auto;
  margin-left: auto;
  margin-right: auto; }

.notebook {
  float: left;
  background-color: #ccc;
  text-align: center;
  vertical-align: middle;
  height: 15em;
  width: 10em;
  margin: 2em; }

#profilePhoto {
  height: 200px;
  width: 200px; }

#profileUsername {
  font-size: 2em; }

#profile {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  margin-bottom: 5%; }

#authorStories {
  overflow: auto; }

#authorPublic, #authorPrivate {
  width: 37.5%;
  float: left;
  background-color: #fff; }

#authorPublic {
  margin-left: 10%;
  margin-right: 2.5%; }

#authorPrivate {
  margin-left: 2.5%;
  margin-right: 10%; }

#allPublic {
  background-color: #fff;
  margin-left: 10%;
  margin-right: 10%; }

.settingIndexCardTop, .settingIndexCardTopShadow, .lastSettingIndexCard {
  display: block;
  background-color: #fff;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 4px; }

.test {
  display: block;
  width: 100%;
  border-bottom: 2px solid red;
  height: 1em;
  overflow: hidden; }

.settingIndexCardBottom {
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  height: 5em;
  overflow: hidden; }
  .settingIndexCardBottom p {
    margin: 0;
    padding: 0; }

.settingIndexCardLinks {
  height: 1em;
  text-align: right;
  padding-bottom: 4px; }

#settingIndexCards {
  float: left;
  overflow: auto;
  padding: 0;
  margin: 0;
  margin-left: 2.5%;
  margin-right: 5%;
  list-style: none;
  width: 27.5%;
  background-color: #fff; }

#settingSummary {
  width: 56.5%;
  float: left;
  background-color: #fff;
  margin-right: 2.5%;
  margin-left: 5%;
  padding: 5px;
  margin-bottom: 5%; }

#settingIndexCardsWrap {
  margin-bottom: 5%; }

.settingIndexCardTopShadow, .lastSettingIndexCard {
  box-shadow: 0px -2px 2px #888888;
  -moz-box-shadow: 0px -2px 2px #888888;
  -webkit-box-shadow: 0px -2px 2px #888888;
  border-top: 1px solid #555; }

body {
  background-color: #EAF7FB; }

textarea {
  width: 100%;
  border: none; }

input[type=text] {
  width: 100%;
  border: none; }

#desk {
  background-image: url("../images/desk.jpg");
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 0 10px #999999;
  -moz-box-shadow: 0 0 10px #999999;
  -webkit-box-shadow: 0 0 10px #999999;
  border-color: #fff;
  border-style: solid;
  border-width: 3px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

#legal {
  width: 20em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  font-size: .75em;
  color: #555; }

.userControlLink {
  background-color: #D73E68;
  float: right;
  margin: 0;
  padding: 0;
  margin-right: 10px; }

.logo {
  display: block;
  background-color: #000;
  height: 100px;
  width: 300px;
  float: left; }

.clear {
  clear: both; }
