@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:300|Open+Sans:400,600,700&subset=latin&v2);
#plotpoints {
  width: 90%;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  list-style: none; }

#indexCard {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  padding: 5px; }

#indexCardTop {
  font-size: 1.5em; }

#indexCardBottom {
  min-height: 11em;
  font-family: 'Josephin Slab', serif; }

.smallIndexCard, .plotpoint {
  width: 14em;
  height: 11em;
  padding: 5px;
  margin: 5px;
  float: left;
  border: 2px solid #91A8AE; }

.smallIndexCardTop {
  overflow: hidden;
  cursor: move;
  border-bottom: 1px solid #91A8AE; }

.smallIndexCardBottom {
  height: 8em;
  overflow: hidden;
  font-family: 'Josephin Slab', serif; }
  .smallIndexCardBottom p {
    margin: 0;
    padding: 0;
    margin: 0; }

.smallIndexCardLinks {
  height: 1em;
  text-align: right; }

#storyTitle {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5em;
  text-align: center; }

#notebookHolder {
  text-align: center; }

#notebooks {
  overflow: auto;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  list-style: none; }
  #notebooks li {
    margin: 0;
    padding: 0; }

.notebook {
  float: left;
  background-color: #ccc;
  vertical-align: middle;
  height: 15em;
  width: 10em;
  margin: 2em; }

#profilePhoto {
  height: 200px;
  width: 200px; }

#profileUsername {
  font-size: 2em;
  font-weight: 700; }

#profile {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff; }

#profilebio {
  font-family: 'Josephin Slab', serif; }

#profileCol1 {
  float: left;
  width: 30%; }

#profileCol2 {
  float: left;
  width: 70%; }

.profileStories {
  padding: 0;
  padding-left: 1em;
  margin: 0;
  overflow: hidden; }

.profileheader {
  font-family: 'Open Sans', sans;
  font-weight: 600;
  font-size: 1.25em; }

.storyCount, .fanCount {
  padding: 0;
  margin: 0; }

.messageButton {
  text-decoration: none;
  color: #000;
  background-color: #c9e4e2;
  padding: 3px;
  float: left;
  margin: 2.5px; }

.author {
  width: 170px;
  height: 170px;
  background-color: #fff;
  float: left;
  margin: 10px;
  text-align: center;
  padding: 10px;
  font-size: 11px;
  font-weight: 400; }

#authorStories {
  overflow: auto; }

#authorPublic, #authorPrivate {
  width: 37.5%;
  float: left; }

#authorPublic {
  margin-left: 10%;
  margin-right: 2.5%; }

#authorPrivate {
  margin-left: 2.5%;
  margin-right: 10%; }

#allPublic {
  margin-left: 10%;
  margin-right: 10%; }

.storyList {
  width: 100%; }

.storyListLine {
  border-top: 1px solid #000; }

.storyTitle {
  width: 67%;
  overflow: hidden;
  text-align: left; }

.storyAuthor {
  width: auto;
  text-align: right; }

.storyStat {
  width: auto;
  text-align: right; }

.settingIndexCardTop, .settingIndexCardTopShadow, .lastSettingIndexCard {
  display: block;
  padding: 5px;
  border-left: 2px solid #91A8AE;
  border-right: 2px solid #91A8AE; }

.settingIndexCardTop {
  border-top: 2px solid #91A8AE; }

.test {
  display: block;
  width: 100%;
  border-bottom: 1px solid #91A8AE;
  overflow: hidden; }

.settingIndexCardBottom {
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  height: 5em;
  overflow: hidden;
  font-family: 'Josephin Slab', serif;
  border-left: 2px solid #91A8AE;
  border-right: 2px solid #91A8AE;
  font-family: 'Josephin Slab', serif; }
  .settingIndexCardBottom p {
    margin: 0;
    padding: 0; }

.settingIndexCardLinks {
  height: 1em;
  text-align: right;
  padding-bottom: 4px;
  border-left: 2px solid #91A8AE;
  border-right: 2px solid #91A8AE;
  border-bottom: 2px solid #91A8AE; }

#settingIndexCards {
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 2.5%;
  margin-right: 5%;
  list-style: none;
  width: 27.5%; }

#settingSummary {
  width: 56.5%;
  float: left;
  background-color: #fff;
  padding: 0;
  margin: 0;
  margin-right: 2.5%;
  margin-left: 5%;
  font-family: 'Josephin Slab', serif; }

#settingIndexCardsWrap {
  margin-bottom: 5%; }

.settingIndexCardTopShadow, .lastSettingIndexCard {
  box-shadow: 0px -1px 0px #888888;
  -moz-box-shadow: 0px -1px 0px #888888;
  -webkit-box-shadow: 0px -1px 0px #888888;
  border-top: 1px solid #555; }

#characterPhoto {
  height: 200px;
  width: 200px; }

#characterName {
  font-size: 2em; }

#character {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff; }

.bold {
  font-weight: bold; }

.list {
  width: 33%;
  float: left; }

.characterbio {
  font-family: 'Josephin Slab', serif; }

#virtueListForm, #viceListForm, #habitListForm {
  list-style: none;
  padding: 0;
  margin: 0; }

body {
  background-color: #EAF7FB;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif; }

input, textarea {
  border: 1px solid #c9e4e2;
  font-family: 'Josephin Slab', serif; }

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden; }

.field_with_errors {
  border: 3px solid #ffa8a8;
  margin: 0;
  padding: 0;
  display: inline; }

.maxwidth {
  width: 99%; }

.width85 {
  width: 85%; }

.fanButton {
  text-decoration: none;
  color: #000;
  background-color: #c9e4e2;
  padding: 3px;
  float: left;
  margin: 2.5px; }

#fanButton {
  display: inline; }

#devisePage {
  width: 80%;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto; }

#page {
  margin: 0;
  padding: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

#desk {
  background-color: #fff;
  box-shadow: 0 0 10px #999999;
  -moz-box-shadow: 0 0 10px #999999;
  -webkit-box-shadow: 0 0 10px #999999;
  overflow: auto;
  margin-top: 1em;
  padding: 5px;
  padding-bottom: 5%; }

#legal {
  width: 20em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  font-size: .75em;
  color: #555; }

.userControlLink {
  background-color: #fff;
  float: right;
  margin: 0;
  padding: 0;
  margin-top: -8px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 700;
  box-shadow: 0 0 10px #999999;
  -moz-box-shadow: 0 0 10px #999999;
  -webkit-box-shadow: 0 0 10px #999999;
  color: #000;
  text-decoration: none; }

.logo {
  display: block;
  background-color: #000;
  height: 100px;
  width: 300px;
  float: left; }

.clear {
  clear: both; }

#breadcrumbs {
  background-color: #fff;
  box-shadow: 0 0 10px #999999;
  -moz-box-shadow: 0 0 10px #999999;
  -webkit-box-shadow: 0 0 10px #999999;
  margin-top: 1em;
  padding-left: 5px; }

.breadcrumb {
  color: #000; }
  .breadcrumb:hover {
    color: #999; }
