#plotpoints {
  width: 90%;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  list-style: none; }

#indexCard {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  background-color: #eee;
  padding: 5px; }
  #indexCard input[type=text], #indexCard textarea {
    background-color: #eee; }

#indexCardTop {
  border-bottom: 1px solid #000; }

#indexCardBottom {
  min-height: 11em; }

.smallIndexCard, .plotpoint {
  width: 14em;
  height: 11em;
  padding: 5px;
  margin: 5px;
  float: left;
  background-color: #eee; }

.smallIndexCardTop {
  overflow: hidden;
  cursor: move;
  border-bottom: 1px solid #000; }

.smallIndexCardBottom {
  height: 8em;
  overflow: hidden; }
  .smallIndexCardBottom p {
    margin: 0;
    padding: 0;
    margin: 0; }

.smallIndexCardLinks {
  height: 1em;
  text-align: right; }
