#plotpoints {
  width: 90%;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  list-style: none; }

#indexCard {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  padding: 5px; }

#indexCardTop {
  font-size: 1.5em; }

#indexCardBottom {
  min-height: 11em;
  font-family: 'Josephin Slab', serif; }

.smallIndexCard, .plotpoint {
  width: 14em;
  height: 11em;
  padding: 5px;
  margin: 5px;
  float: left;
  border: 2px solid #91A8AE; }

.smallIndexCardTop {
  overflow: hidden;
  cursor: move;
  border-bottom: 1px solid #91A8AE; }

.smallIndexCardBottom {
  height: 8em;
  overflow: hidden;
  font-family: 'Josephin Slab', serif; }
  .smallIndexCardBottom p {
    margin: 0;
    padding: 0;
    margin: 0; }

.smallIndexCardLinks {
  height: 1em;
  text-align: right; }
