#profilePhoto {
  height: 300px;
  width: 300px;
  background-color: #fff;
  float: left; }

#profileUsername {
  display: table-cell;
  vertical-align: middle;
  font-size: 2.5em;
  float: left;
  height: 300px;
  width: 400px;
  margin-left: 10px;
  background-color: #ddd; }

.middle {
  height: 100%; }
