/*
Syntax error: Undefined mixin 'box-shadow'.
        on line 56 of /home/adam/programming/plotapp/public/stylesheets/sass/setting.scss, in `box-shadow'
        from line 56 of /home/adam/programming/plotapp/public/stylesheets/sass/setting.scss

51: }
52: #settingIndexCardsWrap{
53: 	margin-bottom:		5%;
54: }
55: .settingIndexCardTopShadow, .lastSettingIndexCard{
56: 	@include box-shadow(0px, -2px, 2px, #888);
57: 	border-top:			1px solid #555;
58: }

Backtrace:
/home/adam/programming/plotapp/public/stylesheets/sass/setting.scss:56:in `box-shadow'
/home/adam/programming/plotapp/public/stylesheets/sass/setting.scss:56
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:169:in `visit_mixin'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:18:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:18:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:18:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/engine.rb:291:in `_render'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/engine.rb:239:in `block in render'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/util.rb:297:in `silence_sass_warnings'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/engine.rb:239:in `render'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:175:in `each'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:173:in `each'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/plugin.rb:81:in `update_stylesheets'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/plugin.rb:54:in `check_for_updates'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.3/lib/sass/plugin/rack.rb:51:in `call'
/usr/lib/ruby/gems/1.9.1/gems/warden-1.0.4/lib/warden/manager.rb:35:in `block in call'
/usr/lib/ruby/gems/1.9.1/gems/warden-1.0.4/lib/warden/manager.rb:34:in `catch'
/usr/lib/ruby/gems/1.9.1/gems/warden-1.0.4/lib/warden/manager.rb:34:in `call'
/usr/lib/ruby/gems/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/usr/lib/ruby/gems/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/head.rb:14:in `call'
/usr/lib/ruby/gems/1.9.1/gems/rack-1.2.3/lib/rack/methodoverride.rb:24:in `call'
/usr/lib/ruby/gems/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/usr/lib/ruby/gems/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/flash.rb:182:in `call'
/usr/lib/ruby/gems/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/usr/lib/ruby/gems/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/usr/lib/ruby/gems/1.9.1/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:32:in `block in call'
/usr/lib/ruby/gems/1.9.1/gems/activerecord-3.0.9/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/usr/lib/ruby/gems/1.9.1/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:12:in `cache'
/usr/lib/ruby/gems/1.9.1/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:31:in `call'
/usr/lib/ruby/gems/1.9.1/gems/activerecord-3.0.9/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/usr/lib/ruby/gems/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/usr/lib/ruby/gems/1.9.1/gems/activesupport-3.0.9/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/usr/lib/ruby/gems/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/usr/lib/ruby/gems/1.9.1/gems/rack-1.2.3/lib/rack/sendfile.rb:107:in `call'
/usr/lib/ruby/gems/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/usr/lib/ruby/gems/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/usr/lib/ruby/gems/1.9.1/gems/railties-3.0.9/lib/rails/rack/logger.rb:13:in `call'
/usr/lib/ruby/gems/1.9.1/gems/rack-1.2.3/lib/rack/runtime.rb:17:in `call'
/usr/lib/ruby/gems/1.9.1/gems/activesupport-3.0.9/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/usr/lib/ruby/gems/1.9.1/gems/rack-1.2.3/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/usr/lib/ruby/gems/1.9.1/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
/usr/lib/ruby/gems/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/static.rb:30:in `call'
/usr/lib/ruby/gems/1.9.1/gems/railties-3.0.9/lib/rails/application.rb:168:in `call'
/usr/lib/ruby/gems/1.9.1/gems/railties-3.0.9/lib/rails/application.rb:77:in `method_missing'
/usr/lib/ruby/gems/1.9.1/gems/railties-3.0.9/lib/rails/rack/log_tailer.rb:14:in `call'
/usr/lib/ruby/gems/1.9.1/gems/rack-1.2.3/lib/rack/content_length.rb:13:in `call'
/usr/lib/ruby/gems/1.9.1/gems/rack-1.2.3/lib/rack/handler/webrick.rb:52:in `service'
/usr/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/usr/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/usr/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'box-shadow'.\A         on line 56 of /home/adam/programming/plotapp/public/stylesheets/sass/setting.scss, in `box-shadow'\A         from line 56 of /home/adam/programming/plotapp/public/stylesheets/sass/setting.scss\A \A 51: }\A 52: #settingIndexCardsWrap{\A 53: 	margin-bottom:		5%;\A 54: }\A 55: .settingIndexCardTopShadow, .lastSettingIndexCard{\A 56: 	@include box-shadow(0px, -2px, 2px, #888);\A 57: 	border-top:			1px solid #555;\A 58: }"; }
