<table id="profile">
<tr>
<td id="profilePhoto">
<%= image_tag @author.photo.url(:profile) %>
</td>
<td id="profileUsername">
<%= @author.username %>
</td>
</tr>
<tr>
<td> <%= @author.bio %> </td>
<td> stories </td>
</tr>
</table>
