<%= link_to "New Story", new_story_path %>
<div id="authorStories">
<div id="authorPublic">
<h3>Your Publc Stories</h3>
<ul>
<% @authorPublicStories.each do |story| %>
<li>
<%= link_to story.title, story %>
</li>
<% end %>
</ul>
</div>
<div id="authorPrivate">
<h3>Your Private Stories</h3>
<ul>
<% @authorPrivateStories.each do |story| %>
<li>
<%= link_to story.title, story %>
</li>
<% end %>
</ul>
</div>
</div>

