<% if can? :create, @story.characters.new then %>
<%= link_to 'New Character', new_story_character_path(@story) %>
<% end %>
<div class="clear"></div>
<% @characters.each do |character| %>
<div class="author">
<%= link_to((image_tag character.photo.url(:thumb)), character) %><br/>
<%= link_to character.name, character %>
</div>
<% end %>
