<% @characters.each do |character| %>
<div class="author">
<%= image_tag character.photo.url(:thumb) %><br/>
<%= link_to character.name, character %>
</div>
<% end %>
<%= link_to 'New Character', new_story_character_path(@story) %>
